img {
    border: 0;
}

#xoopsHiddenText {
    visibility: hidden;
    color: #000000;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}

.pagneutral {
    font-size: 10px;
    width: 16px;
    height: 18px;
    text-align: center;
    background-image: url(./images/pagneutral.gif);
}

.pagact {
    font-size: 10px;
    width: 16px;
    height: 18px;
    text-align: center;
    background-image: url(./images/pagact.gif);
}

.paginact {
    font-size: 10px;
    width: 16px;
    height: 18px;
    text-align: center;
    background-image: url(./images/paginact.gif);
}

#mainmenu a {
    text-align: left;
    display: block;
    margin: 0;
    padding: 4px;
}

#mainmenu a.menuTop {
    padding-left: 3px;
}

#mainmenu a.menuMain {
    padding-left: 3px;
}

#mainmenu a.menuSub {
    padding-left: 9px;
}

#usermenu a {
    text-align: left;
    display: block;
    margin: 0;
    padding: 4px;
}

#usermenu a.menuTop {}

#usermenu a.highlight {
    color: #0000ff;
    background-color: #fcc;
}