<table class="outer" width='100%' cellspacing='0'>
  <tr>
    <td class="head" colspan='2' align='left' height="18"><{$lang_category}> <{$link.category}></td>
  </tr>
  <tr>
    <td class="even" width='60%' align='left' valign="bottom"><a href='visit.php?cid=<{$link.cid}>&amp;lid=<{$link.id}>' target='_blank'><img src='images/link.gif' border='0' alt='<{$lang_visit}>'><b><{$link.title}></b></a></td>
    <td class="even" align='right' width='40%'><b><{$lang_lastupdate}></b><{$link.updated}></td>
  </tr>
  <tr>
    <td class="odd" colspan='2' align='left'><{$link.adminlink}><b><{$lang_description}></b><br />
<{if $link.logourl != ""}>
   <a href="<{$xoops_url}>/modules/mylinks/visit.php?cid=<{$link.cid}>&amp;lid=<{$link.id}>" target="_blank"><img src="<{$xoops_url}>/modules/mylinks/images/shots/<{$link.logourl}>" width="<{$shotwidth}>" alt=""  align="right" vspace="3" hspace="7"/></a>
<{/if}>
    <div style="text-align: justify"><{$link.description}></div><br /></td>
  </tr>
  <tr>
    <td class="even" colspan='2' align='center'><b><{$lang_hits}></b><{$link.hits}> <b>&nbsp;&nbsp;<{$lang_rating}></b><{$link.rating}> (<{$link.votes}>)</td>
  </tr>
  <tr>
    <td class="foot" colspan='2' align='center'><a href="<{$xoops_url}>/modules/mylinks/ratelink.php?cid=<{$link.cid}>&amp;lid=<{$link.id}>"><{$lang_ratethissite}></a> | <a href="<{$xoops_url}>/modules/mylinks/modlink.php?lid=<{$link.id}>"><{$lang_modify}></a> |<a href="<{$xoops_url}>/modules/mylinks/brokenlink.php?lid=<{$link.id}>"><{$lang_reportbroken}></a> | <a target="_top" href="mailto:?subject=<{$link.mail_subject}>&amp;body=<{$link.mail_body}>"><{$lang_tellafriend}></a> | <a href="<{$xoops_url}>/modules/mylinks/singlelink.php?cid=<{$link.cid}>&amp;lid=<{$link.id}>"><{$lang_comments}> (<{$link.comments}>)</a></td>
  </tr>
</table>
<br />
