<br /><br />

<p align="center">
    <a href="<{$xoops_url}>/modules/mylinks/index.php"><img src="<{$xoops_url}>/modules/mylinks/images/logo.gif" border="0" alt="" /></a>
</p>

<br />
<table width="97%" cellspacing="0" cellpadding="0" border="0" align="center">
  <tr>
    <td>
      <table width="100%" cellspacing="1" cellpadding="2" border="0">
        <tr>
          <td class="newstitle"><b><{$category_path}></b></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td align="center">
      <table width="90%">
        <tr>
          <{foreach item=subcat from=$subcategories}>
            <td align="left"><b><a href="viewcat.php?cid=<{$subcat.id}>"><{$subcat.title}></a></b>&nbsp;(<{$subcat.totallinks}>)<br /><font class="subcategories"><{$subcat.infercategories}></font></td>
            <{if $subcat.count is div by 4}>
            </tr><tr>
            <{/if}>
          <{/foreach}>
        </tr>
      </table>
      <br />
      <hr />

      <{if $show_links == true}>

      <{if $show_nav == true}>
      <div><{$lang_sortby}>&nbsp;&nbsp;<{$lang_title}> (<a href="viewcat.php?cid=<{$category_id}>&orderby=titleA"><img src="images/up.gif" border="0" align="middle" alt="" /></a><a href="viewcat.php?cid=<{$category_id}>&orderby=titleD"><img src="images/down.gif" border="0" align="middle" alt="" /></a>)<{$lang_date}> (<a href="viewcat.php?cid=<{$category_id}>&orderby=dateA"><img src="images/up.gif" border="0" align="middle" alt="" /></a><a href="viewcat.php?cid=<{$category_id}>&orderby=dateD"><img src="images/down.gif" border="0" align="middle" alt="" /></a>)<{$lang_rating}> (<a href="viewcat.php?cid=<{$category_id}>&orderby=ratingA"><img src="images/up.gif" border="0" align="middle" alt="" /></a><a href="viewcat.php?cid=<{$category_id}>&orderby=ratingD"><img src="images/down.gif" border="0" align="middle" alt="" /></a>)<{$lang_popularity}> (<a href="viewcat.php?cid=<{$category_id}>&orderby=hitsA"><img src="images/up.gif" border="0" align="middle" alt="" /></a><a href="viewcat.php?cid=<{$category_id}>&orderby=hitsD"><img src="images/down.gif" border="0" align="middle" alt="" /></a>)
      <br /><b><{$lang_cursortedby}></b>
      </div>
      <hr />
      <{/if}>

      <br />
    </td>
  </tr>
</table>

<table width="100%" cellspacing="0" cellpadding="10" border="0">
  <tr>
    <td width="100%" align="center" valign="top">
    <!-- Start link loop -->
    <{section name=i loop=$links}>
      <{include file="db:mylinks_link.html" link=$links[i]}>
    <{/section}>
    <!-- End link loop -->
    </td>
  </tr>
</table>

<br /><br />
<div style="text-align:center;"><{$page_nav}></div>

<{else}>

    </td>
  </tr>
</table>
<{/if}>
<{include file='db:system_notification_select.html'}>
