<br /><br />

<p align="center">
    <a href="<{$xoops_url}>/modules/mylinks/index.php"><img src="<{$xoops_url}>/modules/mylinks/images/logo.gif" border="0" alt="" /></a>
</p>

<h4><{$lang_requestmod}></h4>
<form action="modlink.php" method="post">
<table width="80%">
  <tr>
    <td align="right"><{$lang_linkid}></td>
    <td><b><{$link.id}></b></td>
  </tr>
  <tr>
    <td align="right"><{$lang_sitetitle}></td>
    <td><input type="text" name="title" size="50" maxlength="100" value="<{$link.title}>"></td>
  </tr>
  <tr>
    <td align="right"><{$lang_siteurl}></td>
    <td><input type="text" name="url" size="50" maxlength="100" value="<{$link.url}>"></td>
  </tr>
  <tr>
    <td align="right"><{$lang_category}></td>
    <td><{$category_selbox}></td>
  </tr>
  <tr>
    <td></td><td></td>
  </tr>
  <tr>
    <td align="right" valign="top"><{$lang_description}></td>
    <td><textarea name=description cols=60 rows=5><{$link.description}></textarea></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><br /><input type="hidden" name="logourl" value="<{$link.logourl}>"></input><input type="hidden" name="lid" value="<{$link.id}>"></input><input type="submit" name="submit" value="<{$lang_sendrequest}>"></input>&nbsp;<input type=button value="<{$lang_cancel}>" onclick="javascript:history.go(-1)"></input></td>
  </tr>
</table>
</form>
