<br /><br />
<p align='center'>
    <a href="<{$xoops_url}>/modules/mylinks/index.php"><img src="<{$xoops_url}>/modules/mylinks/images/logo.gif" alt="" /></a>
</p>

<br />

<table width="100%" cellspacing="1" cellpadding="4" border="0">
  <tr>
    <td>
	<ul>
	    <li><{$lang_submitonce}></li>
		<li><{$lang_allpending}></li>
		<li><{$lang_dontabuse}></li>
		<li><{$lang_wetakeshot}></li>
		</ul>
    <form action="submit.php" method="post">
        <table width="80%">
          <tr> 
            <td align="right" nowrap colspan="2" class="itemHead"> 
              <div align="left"><b><{$lang_submitlinkh}></b></div>
            </td>
          </tr>
          <tr> 
            <td class="head" align="right" nowrap> 
              <div align="left">
                <b><{$lang_sitetitle}></b>
              </div>
            </td>
            <td class="even"> 
              <input type="text" name="title" size="50" maxlength="100" />
            </td>
          </tr>
          <tr> 
            <td class="head" align="right" nowrap> 
              <div align="left"><b><{$lang_siteurl}></b></div>
            </td>
            <td class="odd"> 
              <input type="text" name="url" size="50" maxlength="255" value="http://" />
            </td>
          </tr>
          <tr> 
            <td class="head" align="right" nowrap> 
              <div align="left"><b><{$lang_category}></b></div>
            </td>
            <td class="even">
				<{$category_selbox}></td>
          </tr>
          <tr> 
            <td class="head" align="right" valign="top" nowrap> 
              <div align="left"><b><{$lang_description}></b></div>
            </td>
            <td class="odd" >
			<{$xoops_codes}><{$xoops_smilies}></td>
          </tr>
          <tr>
            <td class="head" align="right" valign="top">
              <div align="left"><b><{$lang_options}></b></div>
            </td>
              <td class="even" >
			  <{if $notify_show}>
                <input type="checkbox" name="notify" value="1"><{$lang_notify}></input>
              <{/if}>
              </td>
          </tr>
        </table>
      <br />
      <div style="text-align: center;"><input type="submit" name="submit" class="button" value="<{$lang_submit}>" />&nbsp;<input type="button" value="<{$lang_cancel}>" onclick="javascript:history.go(-1)" /></div>
    </form>
  </td>
</tr>
</table>
