<br /><br />

<p align="center">
    <a href="<{$xoops_url}>/modules/mylinks/index.php"><img src="<{$xoops_url}>/modules/mylinks/images/logo.gif" border="0" alt="" /></a>
</p>

<hr size=1 noshade>
<table border=0 cellpadding=1 cellspacing=0 width="80%">
  <tr>
    <td>
      <h4><{$link.title}></h4>
      <ul>
     	<li><{$lang_voteonce}>
     	<li><{$lang_ratingscale}>
     	<li><{$lang_beobjective}>
     	<li><{$lang_donotvote}>
      </ul>
    </td>
  </tr>
  <tr>
    <td align="center">
      <form method="post" action="ratelink.php">
        <input type="hidden" name="lid" value="<{$link.id}>">
        <input type="hidden" name="cid" value="<{$link.cid}>">
     	<select name="rating"><option>--</option><option>10</option><option>9</option><option>8</option><option>7</option><option>6</option><option>5</option><option>4</option><option>3</option><option>2</option><option>1</option></select>&nbsp;&nbsp;
        <input type="submit" name="submit" value="<{$lang_rateit}>" /><input type=button value="<{$lang_cancel}>" onclick="location='<{$xoops_url}>/modules/mylinks/singlelink.php?cid=<{$link.cid}>&amp;lid=<{$link.id}>'" />
      </form>
    </td>
  </tr>
</table>
