<form action="rating_post.php" method="post">
<table width="100%" class="outer">
<{foreach item=rating from=$ratings}>
  <{if $rating.voted == true}>
  <tr><td><{$rating.name}></td><td><img src="<{$xoops_url}>/images/rating/<{$rating.score}>.gif" alt="<{$rating.score}>" /></td></tr>
  <{/else}>
  <tr><td><{$rating.name}></td><td><{$lang_poor}><input type="radio" value="1" name="rating[<{$rating.id}>]" /><input type="radio" value="2" name="rating[<{$rating.id}>]" /><input type="radio" value="3" name="rating[<{$rating.id}>]" /><input type="radio" value="4" name="rating[<{$rating.id}>]" /><input type="radio" value="5" name="rating[<{$rating.id}>]" /><input type="radio" value="6" name="rating[<{$rating.id}>]" /><input type="radio" value="7" name="rating[<{$rating.id}>]" /><input type="radio" value="8" name="rating[<{$rating.id}>]" /><input type="radio" value="9" name="rating[<{$rating.id}>]" /><input type="radio" value="10" name="rating[<{$rating.id}>]" /><{$lang_great}></td></tr>
  <{/if}>
<{/foreach}>
<tr><td colspan="2" align="center"><input type="hidden" name="vote_itemid" value="<{$vote_itemid}>" /><input type="submit" value="<{$lang_submit}>" /></td></tr>
</table>
</form>